<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

  <link rel="stylesheet" href="./css/style.css" />
  <div class="banner-user">
    <h1>Bienvenido{{user}} </h1>
    <form action="http://localhost:8080/api/session/logout" method="POST">
            <button id="bLogout">Salir</button>
    </form>
    
  </div>

  <title>Alta productos</title>
</head>

<body>
  <form method="POST" action="http://localhost:8080/api/products">
    <legend>Alta de productos</legend>
    <label for="title">Titulo</label>
    <input type="text" id="title" name="title" />
    <label for="price">Precio</label>
    <input id="price" type="number" name="price" />
    <label for="thumbnail">Imagen</label>
    <input type="text" id="thumbnail" name="thumbnail" />
    <button type="submit">Enviar</button>
  </form>

  <div id="product-table"></div>

  <div class="messageCenter__main">
    <h2>Centro de mensajes</h2>
    <form class="message_main_form">
      <label for="email_input">email</label>
      <input type="email" id="email_input" required />


      <div class="inputuser_main_form">
        <label for="name_send">Nombre</label>
        <input type="text" id="name_send" placeholder="Ingrese su nombre" />
        <label for="lastname_send">Apellido</label>
        <input type="text" id="lastname_send" placeholder="Ingrese su apellido" />
        <label for="age_send">Edad</label>
        <input type="text" id="age_send" placeholder="Ingrese su edad." />
        <label for="alias_send">Alias</label>
        <input type="text" id="alias_send" placeholder="Ingrese su alias2" />
        <label for="avatar_send">Foto url</label>
        <input type="text" id="avatar_send" placeholder="Ingrese url de su photo" />
        <label for="message_send">Mensaje</label>
        <input type="text" id="message_send" placeholder="Ingrese su mensaje" />
        <button class="btn btn-primary">Enviar!</button>
      </div>
      <hr />
      <div id="message"></div>
    </form>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
  <script src="./js/index.js"></script>

</body>

</html>