.banner-user{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.banner-user button{
  background-color: aqua;
  height: 100%;
  
}
form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border: 2px solid black;
}
input {
  margin: 1%;
}
button {
  width: 20%;
}
img {
  max-width: 20px;
}

table {
  margin: 0 auto;
  max-width: 50%;
}
.messageCenter__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message_main_form {
  width: 30%;
   display: flex;
  flex-direction: column;
}
.inputuser_main_form{
  display: flex;
  flex-direction: column;
}
h2 {
  color: blue;
}
.message_user {
  color: blue;
  font-weight: 900;
}
.message_date {
  color: brown;
}
.message_mensaje {
  color: green;
  font-family: cursive;
}
